# dependencies
.history
.vscode
.nyc_output
node_modules
.env

# testing
coverage
.mocha-puppeteer
.cache

# production
api
build
docs
/dist
public/FindTheEthereum
size-report.txt

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
shrinkwrap.yaml*
